header {
    background: #fff;
    border-bottom: solid 1px darkblue;
    color: grey;
    width: 100%;
    height: 55px;
    margin: -2px -2px 2px -2px;
}

.name{
    float: left;
    background: teal;
    color: white;
    margin: -2px 0 0 60px;
    width: 25%;
    padding: 5px 0 5px 15px;
}

.about{
    float: right;
    padding: 10px 8px 0 8px;
}

.portfolio{
    float: right;
    padding: 10px 8px 0 8px;
}

.contact{
    float: right;
    padding: 10px 8px 0 8px;
}
body{
    background-color: lightgrey;
    clear: both;
}

.middle-box{
    background: #fff;
    box-shadow: -2px 3px 4px #000;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    overflow: auto;
    padding: 20px 10px 10px 15px;
}

footer{
    border-top: teal solid 1.5px;
    background-color: rgb(34, 33, 33);
    width: 100%;
    height: 30px;
    overflow: auto;
    margin-bottom: -3px;
}
.amy{
    width: 20%;
    float: left;
}